<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>My app</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/zxcvbn.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </head>
  <body>
    
    <%= yield %>
    
  </body>
</html>

